extends ../layout/index
block content
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros")
            .col-md-7
                h1= page
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac feugiat sed lectus vestibulum mattis ullamcorper velit. Sed vulputate mi sit amet mauris. 
                p Pharetra convallis posuere morbi leo. Cursus eget nunc scelerisque viverra mauris in aliquam sem. Enim neque volutpat ac tincidunt vitae semper quis lectus. Cum sociis natoque penatibus et magnis dis. Ipsum dolor sit amet consectetur. 
                p Quam lacus suspendisse faucibus interdum posuere lorem ipsum. Diam volutpat commodo sed egestas. Sit amet consectetur adipiscing elit ut aliquam purus. Dignissim cras tincidunt lobortis feugiat vivamus. Sed euismod nisi porta lorem. Pharetra et ultrices neque ornare. Sed risus ultricies tristique nulla aliquet enim.